@model IEnumerable<ST10028058_CLDV6212_POE.Models.Order>

<h2>Orders</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Order_Id</td>
                <td>@order.Product_ID</td>
                <td>@order.Quantity</td>
                <td>@order.Order_Date.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
